.subheader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafa;
  width: 100%;

  h1 {
    float: left;
    color: #000;
    font-size: 30px;
    line-height: 64px;
    margin: 0 20px;
  }
}
